@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  /* background-color: #393f7a; */
  font-family: 'VT323', monospace;
  padding: 0;
  margin: 0;
}



.Hero-Image{
  
  /* background-color: #97e7ff; */
  background-color: #7b9edb;
}

.Hero-Body{
  position: relative;
  text-align: center;
  padding-top: 15%;
  z-index: 3;
}
/* Typewrite effect for landing title */
.Hero-Text> h1{
  overflow: hidden;
  white-space: nowrap;
  font-size: 120px;
  margin: 0 auto;
  animation: typing 3s steps(40, end)
}

@keyframes typing{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}
.Hero-Button{
  display: flex;
  align-items: center;

  padding-bottom: 10%;
  padding-top: 10%;
}

.Hero-Container{
  z-index: 2;
  height: 100%;
}
div.btn-group {
  margin: 0 auto; 
  text-align: center;
  font-size: 1.2em;
}

.btn-group{
  background-color: #67ab8d;
  width: 180px;
  border-radius : 30px;
  transition: 0.5s ease;
}

.btn-group:hover{
  background-color: #387080;

}

/* Project CSS */

.Projects-Tab{
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.Project-Containers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.Project-Box{
  background-color: #312f2f;
  position: relative;
  min-width: 310px;
  min-height: 410px;
  margin-left: 10px;
  border-radius: 10px;
  transition: 0.4s ease;
}

/* Wave */
.wave{
  width: 100%;
}

#wave1{
  width: 100%;
  height: auto;
}
/* About me */

.infoBox{


  /* background-color: whitesmoke; */
  margin-bottom: 10%;
  /* border: 2px solid red; */
  color: black;
  height: 100%;
}

.frontContainer{
  padding-top: 5%;
  /* border: 5px solid #333; */
  overflow: hidden;
  padding-left: 30%;
}

.frontContainer-Alternative{
  padding-top: 5%;
  /* border: 5px solid #333; */
  overflow: hidden;
  padding-right: 30%;
}

.imageDisplay{
  float: left;
}

.imageDisplay-Alternative{
  float: right;
}

.descr{
  display: inline-block;
  margin-left: 50px;
  /* border: 2px solid green; */
  width: 550px;
}

#descr-Alternative{
  display: inline-block;
  margin-right: 50px;
  /* border: 2px solid green; */
  width: 550px;
  margin-left: 30%;
}

.descr>h2 {
  font-size: 350%;
}
.descr>p{
  font-size: 170%;
}
.popup{
  /* border: 3px solid purple; */
  display: block;
  float: left;
  width: 320px;
  height: auto;
}


/* SVG Images as background */

.HeroImageBack{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow  : hidden;

}

img{
  width: 640px;
  height: 384px;
}

.Cloud{
  position: absolute;
  z-index: 1;
  left: 50%;
}

#Cloud1{
  margin-left: 500px;
  animation: Cloud1 140s linear infinite;
}

#Cloud2{
  margin-left: -600px;
  margin-top: 300px;
  animation: Cloud1 80s linear infinite;
}

#Cloud3{
  margin-left: -300px;
  animation: Cloud1 100s linear infinite;
}
#Cloud4{
  margin-left: -1280px;
  margin-top: 100px;
  animation: Cloud1 120s linear infinite;
}

#StaticCloud{
  margin-left: -1000px;
  margin-top: -50px
}
#StaticCloud1{
  margin-left: 350px;
  margin-top: 243px;
}
/* Cloud Animations */

@keyframes Cloud1{
0%{
  opacity: 0;
}

15%{
    opacity:1;
}

100%{
transform: translateX(100%);
opacity: 0;
}

}
