@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  padding: 0px;
  margin: 0px;
  /* background-color: #393f7a; */
  font-family: 'VT323', monospace;
  color: white !important;
}


.Hero-Image{
  
  background-color: #97e7ff;
  border: 1px solid red;
  /* May have to change */
  height: 70%;

}

.Hero-Body{
  position: relative;
  text-align: center;
  padding-top: 15%;
  border: 1px solid red;
}

.Hero-Text{
  font-size: 120px;
  border: 1px solid green;
}
.Hero-Button{
  border: 1px solid blue;
}


div.btn-group {
  margin: 0 auto; 
  text-align: center;
  font-size: 1.2em;
}

.btn-group{
  background-color: #65a0b3;
  width: 180px;
  border-radius : 30px;
}

/* Project CSS */
.Project-Containers{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Project-Box{
  margin-top: 100px;
  background-color: #312f2f;
  position: relative;
  min-width: 310px;
  min-height: 410px;
  margin-left: 10px;
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.4s ease;
}
