body {
  background-color: darkblue;
  max-width: 100%;
  overflow-x: hidden;
}

.Top-Back {
  position: relative;
  animation: cloud 20s linear infinite;
}

@keyframes cloud {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-800px);
    opacity: 0;
  }
}
