@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  font-family: 'VT323', monospace;
  padding: 0;
  margin: 0;
}
.app{
  width: 100% !important;
  height: 100%;
}
.Hero-Image{
  
  background-color: #7b9edb;
}

.Hero-Body{
  position: relative;
  text-align: center;
  padding-top: 15%;
  z-index: 3;
}

.Hero-Text{
  display: block;
}
.Hero-Text> h1{
  font-size: 8em;
  margin: 0 auto;
  color: white;
}

.Hero-Button{
  display: flex;
  align-items: center;
  padding-bottom: 10%;
  padding-top: 10%;
}


div.btn-group {
  margin: 0 auto; 
  text-align: center;
  font-size: 1.2em;
}



.btn-group{
  background-color: #312f2f;
  width: 180px;
  border-radius : 30px;
  transition: 0.5s ease;
}

.btn-group:hover{
  background-color: #4d5055;
}

.header{
  text-align: center;
  font-size: 100px;
  margin-bottom: 20px;
}
div.btn-group >a{
  color: white !important;
}

#skills-header{
  color: white;
  border-right: 3px solid white;
  width: max-content;
}


.type{
  color: #7b9edb;
}
#underDevelopment{
  color: red;
}
#sideProject{
  color: gold;
}
.Project-Containers{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}


.Project-Box{

  margin-bottom: 100px;
  background-color: #312f2f;
  position: relative;
  min-width: 350px;
  min-height: 600px;
  margin-left: 10px;
  border-radius: 10px;

}


.Box{

  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 2px solid #3c3e42;
  border-radius: 10px;
  background-color: #3c3e42;

}
.info{
  background-color: #3c3e42;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  height: 80%;
  font-size: 25px;
} 

.Project-Name{
  font-size: 50px;
  color: #67ab8d;
}

/* Wave */
.wave{
  width: 100%;

}

#wave1{
  height: auto;
}
/* About me */

.infoBox{


  margin-bottom: 5%;
  color: black;
  height: 100%;

}




/* ALT */
.frontContainer{
  display: flex;
  padding-top: 3%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.frontContainer>p{
  text-align: justify;

}
#frontContainer-alt{
  flex-direction: row-reverse;
}


.descr{
  
  width: 580px;
}
#descr-Non{
  padding-left: 20px;
}
#descr-alt{
  padding-right: 30px;
}

.descr>h2 {
  font-size: 330%;
}
.descr>p{
  font-size: 170%;
}
.popup{
  /* border: 3px solid purple; */
  display: flex;
  float: left;
  width: 320px;
  height: auto;
}



/* Skills */

.Skills-Container{
  background-color: #7b9edb;
  display: block;
  text-align: center;
}

#skill-div{
  display: flex;
  justify-content: center;
  width: 100%;
}


.Skill-Box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.Skill-Box>img{
  
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-top: 10px; 
}

.skill-Image{
  transition: 2s ease;
  transition-duration: infinite;
  

}
.skill-Image:hover{

  animation-name: "skillHover";
  animation: skillHover 1.5s linear infinite;
}

@keyframes skillHover{
  
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0px);
  }

}


/* SVG Images as background */

.HeroImageBack{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow  : hidden;

}

.HeroImageBack>img{
  width: 640px;
  height: auto;
}

.Cloud{
  position: absolute;
  z-index: 1;
  left: 50%;
}

#Cloud1{
  margin-left: 24%;
  animation: Cloud1 140s linear infinite;
}

#Cloud2{
  margin-left: -30%;
  margin-top: 15%;
  animation: Cloud1 80s linear infinite;
}

#Cloud3{
  margin-left: -15%;
  animation: Cloud1 100s linear infinite;
}
#Cloud4{
  margin-left: -65%;
  margin-top: 10%;
  animation: Cloud1 120s linear infinite;
}

#StaticCloud{
  margin-left: -55%;
  margin-top: -3%;
}
#StaticCloud1{
  margin-left: 20%;
  margin-top: 16%;
}
/* Cloud Animations */

@keyframes Cloud1{
  0%{
    opacity: 0;
  }

  15%{
      opacity:1;
  }

  100%{
  transform: translateX(100%);
  opacity: 0;
  }

}

/* Contact Section */
.contact-descr{
  text-align: center;
}
.contact-descr>p{
  font-size: 170%;
}
.contact-descr>a{
  font-size: 100px;
}

/* Media Queries */

@media only screen and (max-width: 869px) {
  .frontContainer{
  text-align: center;

  }
}

@media only screen and (max-width: 1189px){
  #Cloud2{
    display: none;
  }
  #StaticCloud, #StaticCloud1{
    display: none;
  }
 
}